@import "../vars.scss";
@import "../Utils.module.scss";

.view_all_btn {
	display: flex;
	justify-content: center;

	a {
		font-weight: bold;
		color: $link-color;
		transition: color 300ms, transform 300ms;
		padding: 0 0.25rem;
		text-align: center;
		@extend .animated_line;
	}

	a:hover {
		color: $link-hover-color;
	}
}
