@import "../../../styles/vars.scss";

.card_container {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 18rem;
	padding: 0.75rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transition: transform 300ms, background-image 2s;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(
			rgba(26, 55, 77, 0.75),
			rgba(26, 55, 77, 0.95)
		);
		opacity: 1;
		transition: opacity 1s;
		z-index: -1;
	}

	&:hover::before {
		opacity: 0;
	}

	&:hover {
		transform: scale(1.02);
	}

	&:hover .card_bottom,
	&:hover .project_for {
		opacity: 0;
	}
}

.card_top {
	display: flex;
	justify-content: space-between;

	.top_left {
		.project_name {
			font-size: 1.75rem;
			color: $link-color;
			transition: color 300ms, transform 300ms;
		}

		.project_name:hover {
			cursor: pointer;
			transform: scale(1.03);
			color: $link-hover-color;
		}

		.project_for {
			font-weight: 600;
			transition: opacity 800ms;
		}
	}

	.top_right {
		i {
			padding: 0.2rem;
			color: $main-text-color;
			font-size: 1.3rem;
			transition: transform 300ms, color 300ms;
		}

		i:hover {
			color: $link-hover-color;
			transform: scale(1.2);
		}
	}
}

.card_bottom {
	transition: opacity 800ms;

	.description {
		font-size: 0.95rem;
		margin: 0.5rem 0;
	}

	.chip_container {
		margin: 0.5rem 0;
		display: flex;
		font-size: 0.8rem;
		gap: 0.25rem;
		flex-wrap: wrap;
	}
}
