@import "./vars.scss";

/* width */
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	background: $profile-pic-background-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $link-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: $link-hover-color;
}

html,
body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	color: white;
	background-color: $main-background-color;
}

textarea {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

:not(.default *, i) {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
