$main-background-color: #041c32;
$navbar-background-color: #041c3295;
$link-color: #e6ac4e;
$link-hover-color: #ff9f00;
$main-text-color: #fff;
$lighter-text-color: #aefeff;
$profile-pic-background-color: #064663;
$chips-background-color: #04293a;
$cards-background-color: #1a374d;
$input-field-background-color: #1a374d;
$input-field-placeholder-color: #b1d0e0;
$default-font: Helvetica, sans-serif;

$section-default-main-body-padding: 1rem 0.75rem;

$table-bg-color: #1a374d;
